/* Global configuration and variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #A52A25;
  --primary-darker: #7c1e1b;
  --highlight: #daa520;
  --foreground: #000;
  --foreground-muted: #2b2b2b;
  --foreground-inverted: #fff;
  --border: #ccc;

  --title-font: 'Cardo', serif;
  --body-font: 'Josefin Sans', sans-serif;
}

body {
  font: 1.2rem/1.6 var(--body-font);
  color: var(--foreground);
  height: 100vh;
  overflow-x: hidden;
}

/* Components */
.btn {
  background-color: var(--primary);
  color: var(--foreground-inverted);
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  font-family: var(--body-font);
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-darker);
  border-color: var(--primary-darker);
}

/* Header */
.header {
  background-color: var(--primary-darker);
  color: var(--foreground-inverted);
  position: fixed;
  width: 100%;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.25rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--highlight);
}

/* Hero */
.hero {
  background: var(--primary);
  color: var(--foreground-inverted);
  height: 100%;
  max-height: 65%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hero__titleContainer__title {
  color: var(--highlight);
  font-size: 1.825rem;
  font-family: var(--title-font);
}

.hero__titleContainer__subtitle {
  max-width: 42rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.hero__titleContainer__cta {
  border-color: var(--foreground-inverted);
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}

.hero__titleContainer__cta:hover {
  background-color: var(--foreground-inverted);
  color: var(--primary-darker);
}

@media screen and (min-width: 1199.99px) {
  .hero {
    padding: 0 8rem;
  }
}

@media screen and (min-width: 767.99px) {
  .hero__titleContainer__title {
    font-size: 2.5rem;
  }

  .hero__titleContainer__subtitle {
    font-size: 1.25rem;
  }
}

/* Main content delimiter */
main {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

/* Intro */
.intro {
  animation: fade-up 1s ease-in-out;
}

.intro__title {
  font-size: 1.75rem;
  font-family: var(--title-font);
  margin-bottom: 1rem;
  text-align: center;
}

.intro__description {
  color: var(--foreground-muted);
  text-align: center;
  font-size: 1rem;
}

.intro__features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.intro__features__card {
  border: 1px solid var(--border);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro__features__card__icon {
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--highlight);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.intro__features__card__title {
  font-family: var(--title-font);
  font-size: 1.125rem;
}

.intro__features__card__description {
  color: var(--foreground-muted);
  font-size: 1rem;
}

@media screen and (min-width: 639.99px) {
  .intro__features {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro__description {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 767.99px) {
  .intro__title {
    font-size: 2.5rem;
  }

  .intro__features__card__title {
    font-size: 1.375rem;
  }

  .intro__features__card__description {
    font-size: 1.125rem;
  }
}

/* Animations */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}